@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');
/*
@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 768px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1200px;
@widescreenMonitorBreakpoint : 1920px;
*/

/**********correction to semantic********/
@media only screen and (max-width: 767px) {
    h1, h1.ui.header{
        font-size: 2rem;
    }
    h2, h2.ui.header{
        font-size: 1.5rem;
    }
    h3, h3.ui.header{
        font-size: 1.25rem;
    }
    h4, h4.ui.header{
        font-size: 1.125rem;
    }
}

/**********common to all**********/

body.wait, body.wait *{
    cursor: wait !important;
}
/*Text Attributes*/
.boldText {
    font-weight: bold !important;
}
.centerText {
    text-align: center
}
.miniText{
    font-size: 0.6875rem !important;/*11px/16*/
}
.tinyText{
    font-size: 0.75rem !important;/*12px/16*/
}
.smallText {
    font-size: 0.875rem !important;/*14px/16*/
}
.mediumText{
    font-size: 1rem !important;/*16px/16*/
}
.largeText{
    font-size: 1.125rem !important;/*18px/16*/
}
.bigText{
    font-size: 1.25rem !important;/*20px/16*/
}
.hugeText{
    font-size: 1.5rem !important;/*24px/16*/
}
.massiveText{
    font-size: 1.875rem !important;/*30px/16*/
}
.react-datepicker__tether-element {
    filter: none !important;
}
.ui.form input[type="file"] {
    display: none;
}
.ui.form .field.field input:-webkit-autofill  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.ui.form .field.field input:-webkit-autofill:focus  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.ui.menu  {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important
}
.greyBackground {
    background-color: #f3f3f3 !important;
}
.blueBackground {
    background-color: #008FCB !important;
}
.greyGradientBackground {
  /* fallback */
  background-color: #fff;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fff, #f3f3f3);
  /* IE 10 */
  background: -ms-linear-gradient(top, #fff, #f3f3f3);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fff, #f3f3f3);
}
.blue {
    color: #008FCB;
}
.whiteText {
    color: white !important;
}
.greyText {
    color: #555 !important;
}
.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}
.italic {
    font-style: italic !important;
}.orangeBackground{
    background-color: #fda700 !important;
}
.absolute-middle{
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}
/*site components*/
.site {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-x: hidden;
}
.site-content {
    top: auto;
    margin-top: -9rem;
}
@media only screen and (max-width: 767px) {
    .site-content {
        top: auto;
        margin-top: -16rem;
    }
}
/**********Common to static pages**********/

/***Image background****/
.image-background{
    position: relative;
    background-size: cover;
}
.image-background a, .image-background button{
    width: 250px;
    height: 70px;
    font-size: 1.5rem !important;
}
.image-background.two{
    width: 50%;
}
.image-background .dark-mask{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 500px;
}
.image-background.two.first .dark-mask{
    background-color: rgba(0, 5, 0, 0.7);
}
.image-background.two.second .dark-mask{
    background-color: rgba(5, 0, 0, 0.7);
}
@media only screen and (max-width: 767px) {
    .image-background.two{
        width:100%;
    }
    .image-background .dark-mask{
        min-height: 300px;
    }
    .image-background a, .image-background button{
        width: 250px;
        height: 70px;
        font-size: 1.125rem !important;
    }
}
/***horizontal icon slider***/
.scroll-container-horizontal{
    margin: 0 auto;
}
.scroll-container-horizontal.four-items{
    width: 1100px;
}
.scroll-container-horizontal.three-items{
    width: 850px;
}
.scroll-container-horizontal.two-items{
    width: 600px;
}
.scroll-container-horizontal .arrow-container{
    top: 40%;
    position: relative;
}
.arrow-container:hover{
    cursor: pointer;
}
.scroll-container-horizontal .arrow-container.left{
    float:left;
}
.scroll-container-horizontal .arrow-container.right{
    float:right;
}
.icon-slider-horizontal {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.icon-slider-horizontal.four-items{
    width: 1000px;
}
.icon-slider-horizontal.three-items{
    width: 750px;
}
.icon-slider-horizontal.two-items{
    width: 500px;
}
.icon-slider-horizontal .icon-container{
    width: 250px;
    display: inline-block;
}
.icon-slider-horizontal .icon-container img{
    margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
    .scroll-container-horizontal.four-items{
        width: 850px;
    }
    .icon-slider-horizontal.four-items{
        width: 750px;
    }
}
@media only screen and (max-width: 991px) {
    .scroll-container-horizontal.four-items{
        width: 600px;
    }
    .icon-slider-horizontal.four-items{
        width: 500px;
    }
}
@media only screen and (max-width: 767px) {
    .scroll-container-horizontal .arrow-container{
        display: none;
    }
}
/*** section ***/
.section {
    padding: 2.5rem 0 2.5rem 0 !important;
}
.section.translucent-dark-grey{
    background-color: rgba(0, 0, 40, 0.75);
}
/*@media only screen and (max-width: 767px) {
    .section {
        padding: 4rem 0 4rem 0 !important;
    }
}*/
/*** page-header-section ***/
.page-header-section{
    padding-top: 16.5rem !important;
    padding-bottom: 10.875rem !important;
    width: 100% !important;
}
.page-header-section .highlight{
    position: absolute;
    bottom: 25px;
    z-index: 6;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
}
.page-header-section .highlight p{
    margin: 0 auto;
}
.page-header-section.image-background{
    background-size: cover;
    background-position: center;
}
.page-header-section.no-content{
    padding-top: 15rem !important;
    padding-bottom: 0 !important;
}
@media only screen and (max-width: 767px){
    .page-header-section{
        padding-top: 19.25rem !important;
        padding-bottom: 4.5rem !important;
    }
    .page-header-section.no-content{
        padding-top: 20rem !important;
        padding-bottom: 0 !important;
    }
}

/********************* SmokeComponent.css *******************/
.smoke-container{
    background-color: #008FCB;
    z-index: 1;
    position: absolute;
    top: 0px;
    height: inherit;
    width: 100%;
    height: 100%;
}
.adjustment-due-to-smoke-component{
    z-index: 2;
}
@media only screen and (max-width: 767px) {
    .smoke-container{
        width:auto;
    }
}

/***************** header.css *******************/
.navbar {
    padding: 0px;
    z-index: 3;
    position: absolute;
}
.navbarMenu {
    border-bottom: none !important;
}
.navbarMenuMobile {
    border-bottom: none !important;
    padding: 0 10px 15px 10px !important;
}
.navbarActiveItem {
    text-align: right !important;
    color: white !important;
    border-color: white !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}
.navbarItem {
    color: white !important;
    text-align: right !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}
.navbarItem, .navbarActiveItem {
    font-weight: normal !important;
}
.navbarItem:hover {
    border-color: white !important;
}
.navbarButton {
    border: 2px solid white !important;
    border-radius:2px !important;
    color: white !important;
    padding: 10px 25px 10px 25px !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 2px !important;
    text-align: right !important;
}
.navbarMobile {
    z-index: 3;
    padding-bottom: 0 !important;
    -webkit-box-shadow: 0 4px 18px -2px #444;
    -moz-box-shadow: 0 4px 18px -2px #444;
    box-shadow: 0 4px 18px -2px #444;
}
.logo img{
    height: 4.5rem !important;
}
@media only screen and (max-width: 767px) {
    .navbarButton {
        border: 0px !important;
        padding-right: 0px !important;
        margin-right: 25px !important;
    }
    .navbarButton.transparent {
        border: 2px solid white !important;
    }
}

/*********Example Transition***********/
.fade-before-enter {
    opacity: 0.01;
}
.fade-enter {
    opacity: 1;
    -webkit-transition: opacity 150ms ease-in;
    -moz-transition: opacity 150ms ease-in;
    -ms-transition: opacity 150ms ease-in;
    -o-transition: opacity 150ms ease-in;
    transition: opacity 150ms ease-in;
}
.fade-before-leave{
    opacity: 1;
}
.fade-leave {
    opacity: 0.01;
    -webkit-transition: opacity 150ms ease-in;
    -moz-transition: opacity 150ms ease-in;
    -ms-transition: opacity 150ms ease-in;
    -o-transition: opacity 150ms ease-in;
    transition: opacity 150ms ease-in;
}
.fade-enter.delay-1, .fade-leave.delay-1{
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.fade-enter.delay-2, .fade-leave.delay-2{
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.fade-enter.delay-3, .fade-leave.delay-3{
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -ms-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}
.fade-enter.delay-4, .fade-leave.delay-4{
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -ms-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms;
}

/**************** Falling Flakes ****************/
.flake-layer{
    position: fixed;
    width: 100%;
    height: 1500px;
    left: 0;
    top: 0;
}
.flake-layer.first.animation{
    -webkit-animation: flake-first-layer-animation linear infinite;
    -moz-animation: flake-first-layer-animation linear infinite;
    -o-animation: flake-first-layer-animation linear infinite;
    animation: flake-first-layer-animation linear infinite;
}
.flake-layer.second.animation{
    -webkit-animation: flake-second-layer-animation linear infinite;
    -moz-animation: flake-second-layer-animation linear infinite;
    -o-animation: flake-second-layer-animation linear infinite;
    animation: flake-second-layer-animation linear infinite;
}
.flake-layer.animation.fast{
    -webkit-animation-duration: 100s;
    -moz-animation-duration: 100s;
    -o-animation-duration: 100s;
    animation-duration: 100s;
}
.flake-layer.animation.normal{
    -webkit-animation-duration: 150s;
    -moz-animation-duration: 150s;
    -o-animation-duration: 150s;
    animation-duration: 150s;
}
.flake-layer.animation.slow{
    -webkit-animation-duration: 200s;
    -moz-animation-duration: 200s;
    -o-animation-duration: 200s;
    animation-duration: 200s;
}
@-webkit-keyframes flake-first-layer-animation{
    0%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -webkit-transform: translateY(1500px);
        transform: translateY(1500px);
    }
    51%{
        -webkit-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-moz-keyframes flake-first-layer-animation{
    0%{
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -moz-transform: translateY(1500px);
        transform: translateY(1500px);
    }
    51%{
        -moz-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    100%{
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-o-keyframes flake-first-layer-animation{
    0%{
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -o-transform: translateY(1500px);
        transform: translateY(1500px);
    }
    51%{
        -o-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    100%{
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes flake-first-layer-animation{
    0%{
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -ms-transform: translateY(1500px);
        transform: translateY(1500px);
    }
    51%{
        -ms-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    100%{
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@-webkit-keyframes flake-second-layer-animation{
    from{
        -webkit-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    to{
        -webkit-transform: translateY(1500px);
        transform: translateY(1500px);
    }
}
@-moz-keyframes flake-second-layer-animation{
    from{
        -moz-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    to{
        -moz-transform: translateY(1500px);
        transform: translateY(1500px);
    }
}
@-o-keyframes flake-second-layer-animation{
    from{
        -o-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    to{
        -o-transform: translateY(1500px);
        transform: translateY(1500px);
    }
}
@keyframes flake-second-layer-animation{
    from{
        -ms-transform: translateY(-1500px);
        transform: translateY(-1500px);
    }
    to{
        -ms-transform: translateY(1500px);
        transform: translateY(1500px);
    }
}
.flake{
    width: 0px;
    height: 0px;
    background-color: #008FCB;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px #008FCB;/*h-shadow v-shadow blur spread color*/
    position: fixed;
    /*left: 0;
    top: 0;*/
    will-change: transform;
}

/*** Testimonials ***/
.testimonial-container{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.testimonial-container.normal{
    width: 300px;
}
.testimonial-container.large{
    width: 400px;
}
.testimonial-container .testimonial{
    background-color: #fafaff;
    border: 2px #008fcb solid;
    padding: 32px;
    border-radius: 20px;
    position: relative;
}
.testimonial-container .testimonial-arrow{
    background-image: url(/static/img/testimonial-arrow.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -26px;
}
.testimonial-container.left .testimonial-arrow{
    left: 50px;
}
.testimonial-container.center .testimonial-arrow{
    left: 134px;
}
.testimonial-container.large.center .testimonial-arrow{
    left: 188px;
}
.testimonial-container.right .testimonial-arrow{
    right: 50px;
}
.testimonial-container .profile-image{
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
}
.testimonial-container.left .profile-image{
    left: 34px;
}
.testimonial-container.center .profile-image{
    left: 118px;
}
.testimonial-container.large.center .profile-image{
    left: 168px;
}
.testimonial-container.right .profile-image{
    right: 34px;
}
@media only screen and (max-width: 767px) {
    .testimonial-container.large{
        width: 300px;
    }
    .testimonial-container.large.center .testimonial-arrow{
        left: 134px;
    }
    .testimonial-container.large.center .profile-image{
        left: 118px;
    }
}
/*********** non-classified *************/
.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #008fcb;
  min-height: '70vh' !important;
}

/*
.ui.orange.button {
    color: #555 !important;
    background-color: #fda700 !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #414042 !important;
}*/

/*** ***/

.caption {
    font-size: calc(18em/16) !important;
    padding-top: 20px;
}

.advPubSection {
    background-color: #f9f9f9;
    /*padding-bottom: 0px !important;*/
}

.summary {
    background-color: #f9f9f9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 100px 0px 100px 0px !important;
    margin: -1em;
    text-align: center !important;
}
.advertiserSummary {
    background-image: url('/static/img/mountain.png');
}

.publisherSummary {
    background-image: url('/static/img/publisher.png');
}
.button.transparent {
    font-family: 'Lato', sans-serif !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #FFF !important;
    background-color: rgba(0,0,0,0) !important;
}

.publisherHomeMain {
    margin-top: -120px !important;
    background-image: url('http://res.cloudinary.com/chymeravr/image/upload/v1492430175/banner-publisher_h7pjq0.png');
    background-size: cover;
    /*background-attachment: fixed;*/
}

@media only screen and (max-width: 767px) {
    .summary {
        padding: 70px 0px 20px 0px !important;
        text-align: left !important;
    }
    .summary .item {
        padding-top: 10px !important;
    }
    .publisherHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }
    .advertiserHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }
}

/******************************customers.js*************************/
.customers-page-header{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/img/customers/header-image.jpg');
}

/****************************advertiserHome*************************/
.advertiser-page-header{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/static/img/advertiser/header-image.jpg');
}
