@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

.react-datepicker__tether-element {
    filter: none !important;
}

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #008fcb;
  min-height: '70vh' !important;
}

body.wait, body.wait *{
    cursor: wait !important;
}

.Site {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-x: hidden;
}

.Site-content {
    top: auto;
}

/*Text Attributes*/
.boldText {
    font-weight: bold !important;
}
.centerText {
    text-align: center
}
.miniText{
    font-size: 0.6875rem !important;/*11px/16*/
}
.tinyText{
    font-size: 0.75rem !important;/*12px/16*/
}
.smallText {
    font-size: 0.875 !important;/*14px/16*/
}
.mediumText{
    font-size: 1rem !important;/*16px/16*/
}
.largeText{
    font-size: 1.125rem !important;/*18px/16*/
}
.bigText{
    font-size: 1.25rem !important;/*20px/16*/
}
.hugeText{
    font-size: 1.5rem !important;/*24px/16*/
}
.massiveText{
    font-size: 1.875rem !important;/*30px/16*/
}

.ui.form input[type="file"] {
    display: none;
}

.ui.form .field.field input:-webkit-autofill  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.ui.form .field.field input:-webkit-autofill:focus  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.ui.menu  {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important
}

/*
.ui.orange.button {
    color: #555 !important;
    background-color: #fda700 !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #414042 !important;
}*/
/***Image background****/
.image-background{
    position: relative;
    background-size: cover;
}

.image-background a, .image-background button{
    width: 250px;
    height: 70px;
    font-size: 1.5rem !important;
}

.image-background.two{
    width: 50%;
}

.image-background .dark-mask{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 500px;
}

.image-background.two.first .dark-mask{
    background-color: rgba(0, 5, 0, 0.7);
}

.image-background.two.second .dark-mask{
    background-color: rgba(5, 0, 0, 0.7);
}

@media only screen and (max-width: 767px) {
    .image-background.two{
        width:100%;
    }
    .image-background .dark-mask{
        min-height: 300px;
    }
    .image-background a, .image-background button{
        width: 250px;
        height: 70px;
        font-size: 1.125rem !important;
    }
}

/***horizontal icon slider***/
.scroll-container-horizontal{
    margin: 0 auto;
}
.scroll-container-horizontal.four-items{
    width: 1100px;
}
.scroll-container-horizontal.three-items{
    width: 850px;
}
.scroll-container-horizontal.two-items{
    width: 600px;
}
.scroll-container-horizontal .arrow-container{
    top: 40%;
    position: relative;
}
.arrow-container:hover{
    cursor: pointer;
}
.scroll-container-horizontal .arrow-container.left{
    float:left;
}
.scroll-container-horizontal .arrow-container.right{
    float:right;
}
.icon-slider-horizontal {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.icon-slider-horizontal.four-items{
    width: 1000px;
}
.icon-slider-horizontal.three-items{
    width: 750px;
}
.icon-slider-horizontal.two-items{
    width: 500px;
}
.icon-slider-horizontal .icon-container{
    width: 250px;
    display: inline-block;
}

.icon-slider-horizontal .icon-container img{
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .scroll-container-horizontal.four-items{
        width: 600px;
    }
    .icon-slider-horizontal.four-items{
        width: 500px;
    }
}

/*** ***/

.greyBackground {
    background-color: #f3f3f3 !important;
}

.greyGradientBackground {
  /* fallback */
  background-color: #fff;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fff, #f3f3f3);

  /* IE 10 */
  background: -ms-linear-gradient(top, #fff, #f3f3f3);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fff, #f3f3f3);
}

.blue {
    color: #008FCB;
}


.caption {
    font-size: calc(18em/16) !important;
    padding-top: 20px;
}

.whiteText {
    color: white !important;
}

.greyText {
    color: #555 !important;
}

.advPubSection {
    background-color: #f9f9f9;
    /*padding-bottom: 0px !important;*/
}

.summary {
    background-color: #f9f9f9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 100px 0px 100px 0px !important;
    margin: -1em;
    text-align: center !important;
}
.advertiserSummary {
    background-image: url('/static/img/mountain.png');
}

.publisherSummary {
    background-image: url('/static/img/publisher.png');
}

.button.transparent {
    font-family: 'Lato', sans-serif !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #FFF !important;
    background-color: rgba(0,0,0,0) !important;
}

.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.orangeInput {

}

.blueBg {
    background-color: #008FCB !important;
}

.publisherHomeMain {
    margin-top: -120px !important;
    background-image: url('http://res.cloudinary.com/chymeravr/image/upload/v1492430175/banner-publisher_h7pjq0.png');
    background-size: cover;
    /*background-attachment: fixed;*/
}

.advertiserHomeMain {
    margin-top: -120px !important;
    background-image: url('http://res.cloudinary.com/chymeravr/image/upload/v1492430134/advertiser-banner_ysqkkc.png');
    background-size: contain;
    /*background-attachment: fixed;*/
}

.italic {
    font-style: italic !important;
}

.section {
    margin: 7rem 0 0 0 !important;
}

.translucent-dark-grey-section{
    background-color: rgba(0, 0, 40, 0.75);
    padding: 7rem!important;
}

.orangeBackground{
    background-color: #fda700 !important;
}

.absolute-middle{
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

@media only screen and (max-width: 767px) {
    .Site-content {
        top: auto;
        margin-top: -28px;
    }

    .summary {
        padding: 70px 0px 20px 0px !important;
        text-align: left !important;
    }

    .summary .item {
        padding-top: 10px !important;
    }

    .publisherHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }

    .advertiserHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }


    .section {
        padding: 0rem 0 0rem 0 !important;
    }

}

/********************* SmokeComponent.css *******************/
.smoke-container{
    background-color: #008FCB;
    z-index: 1;
    position: absolute;
    top: 0px;
    height: inherit;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .smoke-container{
        width:auto;
    }
}

/********************* home.css ***************/
.page-header-section{
    /*margin-top: -120px;*/
    margin-top: -120px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    height: 850px !important;
    width: 100%;
}

.adjustment-due-to-smoke-component{
    position: absolute !important;
    top: 360px !important;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    .page-header-section{
        margin-top: -176px !important;
    }
}

/***************** header.css *******************/

.navbar {
    padding: 0px;
    z-index: 3;
    position: absolute;
}

.navbarMenu {
    border-bottom: none !important;
}

.navbarMenuMobile {
    border-bottom: none !important;
    padding: 0 10px 15px 10px !important;
}

.navbarActiveItem {
    text-align: right !important;
    color: white !important;
    border-color: white !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}

.navbarItem {
    color: white !important;
    text-align: right !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}

.navbarItem, .navbarActiveItem {
    font-weight: normal !important;
}

.navbarItem:hover {
    border-color: white !important;
}

.navbarButton {
    border: 2px solid white !important;
    border-radius:2px !important;
    color: white !important;
    padding: 10px 25px 10px 25px !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 2px !important;
    text-align: right !important;
}

.navbarMobile {
    z-index: 3;
    padding-bottom: 0 !important;
    -webkit-box-shadow: 0 4px 18px -2px #444;
    -moz-box-shadow: 0 4px 18px -2px #444;
    box-shadow: 0 4px 18px -2px #444;
}

@media only screen and (max-width: 767px) {
    .navbarButton {
        border: 0px !important;
        padding-right: 0px !important;
        margin-right: 25px !important;
    }

    .navbarButton.transparent {
        border: 2px solid white !important;
    }
}

/*********Example Transition***********/
/*.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/

.fade-before-enter {
    opacity: 0.01;
}
.fade-enter {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-before-leave{
    opacity: 1;
}
.fade-leave {
    opacity: 0.01;
    transition: opacity 150ms ease-in;
}

.fade-enter.delay-1, .fade-leave.delay-1{
    transition-delay: 100ms;
}
.fade-enter.delay-2, .fade-leave.delay-2{
    transition-delay: 200ms;
}
.fade-enter.delay-3, .fade-leave.delay-3{
    transition-delay: 300ms;
}
.fade-enter.delay-4, .fade-leave.delay-4{
    transition-delay: 400ms;
}

/**************** Falling Flakes ****************/
.flake{
    width: 0px;
    height: 0px;
    background-color: #008FCB;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px #008FCB;/*h-shadow v-shadow blur spread color*/
    position:absolute;
    top: 200px;
    left: 200px;
}
