@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

body {
    color: #555 !important;
}

.react-datepicker__tether-element {
    filter: none !important;
}

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #008fcb;
  min-height: '70vh' !important;
}

body.wait, body.wait *{
    cursor: wait !important;
}

.Site {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-x: hidden;
}

.Site-content {
    top: auto;
}

.ui.form input[type="file"] {
    display: none;
}

.ui.form .field.field input:-webkit-autofill  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.ui.form .field.field input:-webkit-autofill:focus  {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}



.ui.menu  {
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important
}

/*
.ui.orange.button {
    color: #555 !important;
    background-color: #fda700 !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #414042 !important;
}*/

.greyBackground {
    background-color: #f3f3f3 !important;
}

.greyGradientBackground {
  /* fallback */
  background-color: #fff;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fff, #f3f3f3);

  /* IE 10 */
  background: -ms-linear-gradient(top, #fff, #f3f3f3);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fff, #f3f3f3);
}

.blue {
    color: #008FCB;
}

.centerText {
    text-align: center
}

h1 {
    font-weight: 200 !important;
    font-size: calc( 54rem/16 ) !important;
}

h2 {
    font-size: calc( 30rem/16 ) !important;
}

h3 {
    font-size: calc( 24rem/16 ) !important;
}

p {
    font-size: 18px !important;
}

.caption {
    font-size: calc(18em/16) !important;
    padding-top: 20px;
}

.whiteText {
    color: white !important;
}

.boldText {
    font-weight: bold !important;
}

.greyText {
    color: #555 !important;
}
h1, h2, h3, h4, .navbarItem, .navbarActiveItem {
    font-family: 'Lato', sans-serif !important;
}

.advPubSection {
    background-color: #f9f9f9;
    /*padding-bottom: 0px !important;*/
}

.summary {
    background-color: #f9f9f9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 100px 0px 100px 0px !important;
    margin: -1em;
    text-align: center !important;
}
.advertiserSummary {
    background-image: url('/static/img/mountain.png');
}

.publisherSummary {
    background-image: url('/static/img/publisher.png');
}

.button.transparent {
    font-family: 'Lato', sans-serif !important;
    font-size: calc(18rem/16) !important;
    font-weight: 700 !important;
    color: #FFF !important;
    background-color: rgba(0,0,0,0) !important;
}

.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.orangeInput {

}

.blueBg {
    background-color: #008FCB !important;
}

.publisherHomeMain {
    margin-top: -120px !important;
    background-image: url('http://res.cloudinary.com/chymeravr/image/upload/v1492430175/banner-publisher_h7pjq0.png');
    background-size: cover;
    /*background-attachment: fixed;*/
}

.advertiserHomeMain {
    margin-top: -120px !important;
    background-image: url('http://res.cloudinary.com/chymeravr/image/upload/v1492430134/advertiser-banner_ysqkkc.png');
    background-size: contain;
    /*background-attachment: fixed;*/
}

.smallText {
    font-size: 14px !important;
    font-weight: 300 !important;
}

.italic {
    font-style: italic !important;
}

.section {
    padding: 7rem 0 7rem 0 !important;
}

@media only screen and (max-width: 767px) {
    .Site-content {
        top: auto;
        margin-top: -28px;
    }

    h1 {
        font-size: calc( 40rem/16 ) !important;
    }

    p {
        font-size: calc( 18em/16) !important;
    }

    .summary {
        padding: 70px 0px 20px 0px !important;
        text-align: left !important;
    }

    .summary .item {
        padding-top: 10px !important;
    }

    .publisherHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }

    .advertiserHomeMain {
        margin-top: -40vh !important;
        padding-top: 70vh !important;
        padding-bottom: 30vh !important;
    }


    .section {
        padding: 0rem 0 0rem 0 !important;
    }

}

/********************* SmokeComponent.css *******************/
.smoke-container{
    background-color: #008FCB;
    z-index: 1;
    position: absolute;
    top: 0px;
    height: inherit;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .smoke-container{
        width:auto;
    }
}

/********************* home.css ***************/
.page-header-section{
    /*margin-top: -120px;*/
    margin-top: -120px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    height: 850px !important;
    width: 100%;
}

.adjustment-due-to-smoke-component{
    position: absolute !important;
    top: 360px !important;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    .page-header-section{
        margin-top: -176px !important;
    }
}

/***************** header.css *******************/

.navbar {
    padding: 0px;
    z-index: 3;
    position: absolute;
}

.navbarMenu {
    border-bottom: none !important;
}

.navbarMenuMobile {
    border-bottom: none !important;
    padding: 0 10px 15px 10px !important;
}

.navbarActiveItem {
    text-align: right !important;
    color: white !important;
    border-color: white !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}

.navbarItem {
    color: white !important;
    text-align: right !important;
    margin-bottom: 2px !important;
    padding: 10px 0px 10px 0px !important;
    margin: 0px 25px 0px 25px !important;
}

.navbarItem, .navbarActiveItem {
    font-weight: normal !important;
}

.navbarItem:hover {
    border-color: white !important;
}

.navbarButton {
    border: 2px solid white !important;
    border-radius:2px !important;
    color: white !important;
    padding: 10px 25px 10px 25px !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 2px !important;
    text-align: right !important;
}

.navbarMobile {
    z-index: 3;
    padding-bottom: 0 !important;
    -webkit-box-shadow: 0 4px 18px -2px #444;
    -moz-box-shadow: 0 4px 18px -2px #444;
    box-shadow: 0 4px 18px -2px #444;
}

@media only screen and (max-width: 767px) {
    .navbarButton {
        border: 0px !important;
        padding-right: 0px !important;
        margin-right: 25px !important;
    }

    .navbarButton.transparent {
        border: 2px solid white !important;
    }
}

/*********Example Transition***********/
/*.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/

.fade-before-enter {
    opacity: 0.01;
}
.fade-enter {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-before-leave{
    opacity: 1;
}
.fade-leave {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
